/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');

/* body {
    
} */

* {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

body {
    background: url('../images/pexels-sourav-mishra-3136673.jpg') no-repeat center;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    filter: blur(0px);

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 15% 70% 15%;
}

h1,
h2,
h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
}

.heading {
    grid-area: 1 / 2;
    place-self: center;
    height: auto;
}

.game-area {
    grid-area: 2 / 2 / 2 / 2;
    background-color: rgba(120, 122, 145, .3);
    border-radius: 50px;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr 4fr 4fr 1fr;
}

#welcome-screen {
    grid-area: 2 / 2 / 4 / 2;
    text-align: center;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-columns: 1fr 8fr 1fr;
}

#welcome-screen > h2 {
    grid-area: 1 / 2;
}

#question-screen {
    grid-area: 2 / 2 / 4 / 2;
    visibility: hidden;

    display: grid;
    grid-template-rows: 2fr 3fr 4fr;
    grid-template-columns: 1fr 8fr 1fr;
}

#play {
    height: 5rem;
    width: 10rem;
    background-color: rgba(120, 122, 145, .5);
    color: inherit;
    border-radius: 50px;
    display: block;
    grid-area: 3 / 2;
    place-self: center;
}

#question {
    grid-area: 1 / 2;
    font-size: 2rem;
    text-align: center;
}

#countdown {
    grid-area: 2 / 2;
    place-self: center;
    justify-items: center;
    width: min-content;
    height: min-content;
}

#timer {
    height: min-content;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

#progress {
    background-color: rgba(238, 238, 238, .5);
    height: 20px;
    border-radius: 10px;
    width: 500px;
}

.load {
    border-radius: 10px;
    width: 100%;
    background-color: green;
    animation: load 10s normal forwards;
}

#options {
    grid-area: 3 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr;
}

#options > * {
    place-self: center;
    font-size: 20px;
    height: auto;
}

@keyframes load {
	0% {
		width: 0;
	}

    50% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}