/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');

/* Page */

* {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
    background: url('../images/pexels-sourav-mishra-3136673.jpg') no-repeat center;
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
    filter: blur(0px);

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 15% 70% 15%;
}

h1,
h2,
h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
}

.heading {
    grid-area: 1 / 2;
    place-self: center;
    height: auto;
}

/* Game Area */

.game-area {
    grid-area: 2 / 2 / 2 / 2;
    background-color: rgba(120, 122, 145, .3);
    border-radius: 50px;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr 4fr 4fr 1fr;
}

/* Welcome Screen */

.play-button {
    height: 5rem;
    width: 10rem;
    background-color: rgba(120, 122, 145, .5);
    color: inherit;
    border-radius: 50px;
    grid-area: 2 / 2;
    place-self: center;
}

#welcome-screen {
    grid-area: 2 / 2 / 4 / 2;
    text-align: center;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-template-columns: 1fr 8fr 1fr;
}

#instructions {
    grid-area: 3 / 2;
}

#instructions > h3 {
    width: auto;
    height: auto;
    padding: 30px;
}

#instructions > ul {
    height: auto;
    place-self: center;
}

#welcome-screen > h2 {
    grid-area: 1 / 2;
    place-self: center;
    height: auto;
}

/* Game Screen */

.load {
    border-radius: 10px;
    width: 100%;
    background-color: green;
    animation: load 11s normal forwards;
}

.option {
    place-self: center;
    width: 75%;
    height: min-content;
    padding: 10% 0;
    border-radius: 40px;
}

.light {
    background-color: rgba(120, 122, 145, .8);
}

.dark {
    background-color: rgba(120, 122, 145, .8);
}

#question-screen {
    grid-area: 2 / 2 / 4 / 2;
    visibility: hidden;

    display: grid;
    grid-template-rows: 2fr 3fr 4fr;
    grid-template-columns: 1fr 8fr 1fr;
}

#question {
    grid-area: 1 / 2;
    font-size: 2rem;
    text-align: center;
    height: min-content;
    place-self: center;
}

#countdown {
    grid-area: 2 / 2;
    place-self: center;
    justify-items: center;
    width: min-content;
    height: min-content;
}

#timer {
    height: min-content;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

#progress {
    background-color: rgba(238, 238, 238, .5);
    height: 20px;
    border-radius: 10px;
    width: 500px;
}

#options {
    grid-area: 3 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr 1fr;
}

#options > * {
    text-align: center;
    font-size: 20px;
}

/* Game Complete Screen */

#complete-screen {
    grid-area: 2 / 2 / 3 / 2;
    width: 100%;
    height: 100%;
    visibility: hidden;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#complete-screen > * {
    height: fit-content;
    padding: 100px;
    margin: 0;
    text-align: center;
}

#complete-screen > h2 {
    grid-area: 1 / 2;
}

#score {
    grid-area: 2 / 2;
}

#play-again {
    padding: 0;
    height: 5rem;
}

/* Media Queries */

/* Keyframes */

@keyframes load {
	0% {
		width: 0;
	}

    50% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}